<div class="container">
	<h1>About</h1>
	<div class="description container">
	This is a task list that has extra features that allow developers to visualize tasks as ongoing processes, rather than static text. The intention is that designers and developers can use this information to create more dynamic and interactive visulizations that engage with the user as well as allowing the user to use gut instinct in prioitiation more effectively.
		<p><div class="profiles">
			<div class="row">
				<p><div class="picture col-lg-2">
					Alex Picture
				</div>
				<div class="description col-lg-10">
					Will do anything for pizza. Well, most things.
				</div></p>
			</div>
			<div class="row">
				<p><div class="picture col-lg-2">
					Rob Picture
				</div>
				<div class="description col-lg-10">
					Rob Description
				</div></p>
			</div>
			<div class="row">
				<p><div class="picture col-lg-2">
					Joey Picture
				</div>
				<div class="description col-lg-10">
					The devil you know!(tm)
				</div></p>
			</div>
		</div></p>
	</div>
</div>