/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require slider
 *= require bootstrap
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import 'bootstrap-datetimepicker';

@font-face {
    font-family: 'victor-pixel';
    src: url('./victor-pixel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'victor-pixel';
	background-color: #242424;
}

.main {

}

.navbar-inverse {
	border-color: #3C33AC;
	background-color: #354DB6;
}

.sign_out {
	margin-top: 8px;
}

.category-btn {
	font-family: "fontawesome";
}

.current-cat {
	font-family: "fontawesome";
}

.btn-toolbar {
	padding: 10px;
	.btn-group {
		margin: 5px;
	}
}

.dropdown-menu {
	top: 90%;
	left: 5%;
}