// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-section {

	margin-left: 20px;
}
.task {
	
	background-color: #B6C6FA;
	padding: 3px;
	margin: 5px;
	border-radius: 4px;

}

.new-task {

	margin-bottom: 1em;
	margin-top: 1em;

}

.panel-group {
	margin-bottom: 0px !important;
}

.icon {
	color: red;
	font-size: 50px;
}