// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-section {
	margin-left: 20px;
}

.task {
	background-color: #B6C6FA;
	padding: 3px;
	margin: 5px;
	border-radius: 4px;
	max-width: 1140px;
}

.new-task {
	margin-bottom: 1em;
	margin-top: 1em;
}

.panel-group {
	margin-bottom: 0px;
}

.icon {
	font-family: "fontawesome";
	font-size: 50px;
}

.btn {
	margin: 5px;
}


.panel-default {
	margin-top: 2px;
}

a.complete {
	text-decoration: line-through;
}

.donesection {
	text-align: center;
	input[type="checkbox"] {

		margin-left: auto;
    	margin-right: auto;
    	width: 50%;
	}
}

.btn-group {
	.btn {
	margin: 0px;
	}
}